.profile {
  padding: 0;
  background-color: #eee;
  height: 300px;
}

.postBod {
  background-color: #5bc0de;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stripe {
  text-decoration: none;
}

.userInfoPost {

}

.messagePost {

}

.cats {

}

.catPics {

}

.middle {
}
